<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>
    <%=locals.title%>
</title>

<meta name="title" content="<%=locals.title%>">
<meta name="description" content="">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@440;500&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0..1,0" />

<link rel="stylesheet" href="/css/style.css">
<script src="/js/script.js" defer></script>

<meta name="cryptomus" content="264d562b" />