
:root {


  --primary: rgb(161 201 255);
  --on-primary: rgb(0 50 91);
  --secondary-container: rgb(25 62 101);
  --on-secondary-container: rgb(179 211 255);
  --error: rgb(255 180 171);
  --on-error: rgb(105 0 5);
  --error-container: rgb(147 0 10);
  --on-error-container: rgb(255 218 214);
  --background: rgb(15 20 26);
  --surface: rgb(15 20 26);
  --on-surface: rgb(223 226 235);
  --on-surface-disabled-bg: rgba(223, 226, 235, 0.12);
  --on-surface-disabled-text: rgba(223, 226, 235, 0.38);
  --surface-variant: rgb(64 71 83);
  --on-surface-variant: rgb(191 199 213);
  --outline: rgb(137 145 158);
  --outline-variant: rgb(64 71 83);
  --surface-container-low: rgb(24 28 34);
  --surface-container-high: rgb(38 42 49);
  --avatar: #FFEFB5;
  --on-avatar: #61521C;


  --font-primary: 'Work Sans', sans-serif;


  --fs-base: 62.5%;
  --fs-display-large: 5.7rem;
  --fs-display-medium: 4.5rem;
  --fs-display-small: 3.6rem;
  --fs-headline-large: 3.2rem;
  --fs-headline-medium: 2.8rem;
  --fs-headline-small: 2.4rem;
  --fs-title-large: 2.2rem;
  --fs-title-medium: 1.6rem;
  --fs-title-small: 1.4rem;
  --fs-body-large: 1.6rem;
  --fs-body-medium: 1.4rem;
  --fs-body-small: 1.2rem;
  --fs-label-large: 1.4rem;
  --fs-label-medium: 1.2rem;
  --fs-label-small: 1.1rem;

  --lh-display-large: 64px;
  --lh-display-medium: 52px;
  --lh-display-small: 44px;
  --lh-headline-large: 40px;
  --lh-headline-medium: 36px;
  --lh-headline-small: 32px;
  --lh-title-large: 28px;
  --lh-title-medium: 24px;
  --lh-title-small: 20px;
  --lh-body-large: 24px;
  --lh-body-medium: 20px;
  --lh-body-small: 16px;
  --lh-label-large: 20px;
  --lh-label-medium: 16px;
  --lh-label-small: 16px;


  --fw-regular: 400;
  --fw-medium: 500;
  --fw-black: 900;

  --ls-n-025: -0.25px;
  --ls-p-010: 0.10px;
  --ls-p-015: 0.15px;
  --ls-p-025: 0.25px;
  --ls-p-040: 0.40px;
  --ls-p-050: 0.50px;


  
  --space-base: 4px;
  --space-05: calc(var(--space-base) * 0.5);
  --space-1: calc(var(--space-base) * 1);
  --space-2: calc(var(--space-base) * 2);
  --space-3: calc(var(--space-base) * 3);
  --space-4: calc(var(--space-base) * 4);
  --space-5: calc(var(--space-base) * 5);
  --space-6: calc(var(--space-base) * 6);
  --space-7: calc(var(--space-base) * 7);
  --space-8: calc(var(--space-base) * 8);
  --space-9: calc(var(--space-base) * 9);
  --space-10: calc(var(--space-base) * 10);
  --space-11: calc(var(--space-base) * 11);
  --space-12: calc(var(--space-base) * 12);
  --space-13: calc(var(--space-base) * 13);
  --space-14: calc(var(--space-base) * 14);
  --space-15: calc(var(--space-base) * 15);
  --space-16: calc(var(--space-base) * 16);
  --space-17: calc(var(--space-base) * 17);
  --space-18: calc(var(--space-base) * 18);
  --space-19: calc(var(--space-base) * 19);
  --space-20: calc(var(--space-base) * 20);



  --shadow-1: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004d;
  --shadow-2: 0px 2px 6px 2px #00000026, 0px 1px 2px 0px #0000004d;
  --shadow-3: 0px 1px 3px 0px #0000004d, 0px 4px 8px 3px #00000026;
  --shadow-4: 0px 2px 3px 0px #0000004d, 0px 6px 10px 4px #00000026;
  --shadow-5: 0px 4px 4px 0px #0000004d, 0px 8px 12px 6px #00000026;



  --radius-extra-small: 4px;
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-extra-large: 28px;
  --radius-full: 1000px;


  
  --tr-duration-short-1: 50ms;
  --tr-duration-short-2: 100ms;
  --tr-duration-short-3: 150ms;
  --tr-duration-short-4: 200ms;
  --tr-duration-medium-1: 250ms;
  --tr-duration-medium-2: 300ms;
  --tr-duration-medium-3: 350ms;
  --tr-duration-medium-4: 400ms;
  --tr-duration-long-1: 450ms;
  --tr-duration-long-2: 500ms;
  --tr-duration-long-3: 550ms;
  --tr-duration-long-4: 600ms;
  --tr-duration-extra-long-1: 700ms;
  --tr-duration-extra-long-2: 800ms;
  --tr-duration-extra-long-3: 900ms;
  --tr-duration-extra-long-4: 1000ms;
  --tr-easing-linear: cubic-bezier(0, 0, 1, 1);
  --tr-easing-standard: cubic-bezier(0.2, 0, 0, 1);
  --tr-easing-standard-decelerate: cubic-bezier(0, 0, 0, 1);
  --tr-easing-standard-accelerate: cubic-bezier(0.3, 0, 1, 1);
  --tr-easing-emphasized: cubic-bezier(0.2, 0, 0, 1);
  --tr-easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
  --tr-easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);

}







*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
img,
span,
input,
button,
textarea { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

img { height: auto; }

input,
textarea,
button {
  background: none;
  border: none;
  font: inherit;
}

button { cursor: pointer; }

input,
textarea {
  width: 100%;
  outline: none;
}

input[type='number']::-webkit-inner-spin-button { display: none; }






html {
  font-family: var(--font-primary);
  font-size: var(--fs-base);
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: var(--fs-body-medium);
  line-height: var(--lh-body-medium);
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

input {
  caret-color: var(--primary);
}
:where(input, textarea)::placeholder{color: var(--placeholder-color);}

input:-webkit-autofill,
input:-webkit-autofill:where(:hover, :focus, :active) {
  -webkit-box-shadow: inset 0 0 0 30px var(--autofill-bg) !important;
  -webkit-text-fill-color: var(--autofill-color) !important;
}

textarea {
  resize: vertical;
  min-height: 48px;
  min-width: 160px;
}






.display-large {
  font-size: var(--fs-display-large);
  line-height: var(--lh-display-large);
  font-weight: var(--fw-regular);
  letter-spacing: var(--ls-n-025);
}

.display-medium {
  font-size: var(--fs-display-medium);
  line-height: var(--lh-display-medium);
  font-weight: var(--fw-regular);
}

.display-small {
  font-size: var(--fs-display-small);
  line-height: var(--lh-display-small);
  font-weight: var(--fw-regular);
}

.headline-large {
  font-size: var(--fs-headline-large);
  line-height: var(--lh-headline-large);
  font-weight: var(--fw-regular);
}

.headline-medium {
  font-size: var(--fs-headline-medium);
  line-height: var(--lh-headline-medium);
  font-weight: var(--fw-regular);
}

.headline-small {
  font-size: var(--fs-headline-small);
  line-height: var(--lh-headline-small);
  font-weight: var(--fw-regular);
}

.title-large {
  font-size: var(--fs-title-large);
  line-height: var(--lh-title-large);
  font-weight: var(--fw-regular);
}

.title-medium {
  font-size: var(--fs-title-medium);
  line-height: var(--lh-title-medium);
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-p-015);
}

.title-small {
  font-size: var(--fs-title-small);
  line-height: var(--lh-title-small);
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-p-010);
}

.body-large {
  font-size: var(--fs-body-large);
  line-height: var(--lh-body-large);
  font-weight: var(--fw-regular);
  letter-spacing: var(--ls-p-050);
}

.body-medium {
  font-size: var(--fs-body-medium);
  line-height: var(--lh-body-medium);
  font-weight: var(--fw-regular);
  letter-spacing: var(--ls-p-025);
}

.body-small {
  font-size: var(--fs-body-small);
  line-height: var(--lh-body-small);
  font-weight: var(--fw-regular);
  letter-spacing: var(--ls-p-040);
}

.label-large {
  font-size: var(--fs-label-large);
  line-height: var(--lh-label-large);
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-p-010);
}

.label-medium {
  font-size: var(--fs-label-medium);
  line-height: var(--lh-label-medium);
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-p-050);
}

.label-small {
  font-size: var(--fs-label-small);
  line-height: var(--lh-label-small);
  font-weight: var(--fw-medium);
  letter-spacing: var(--ls-p-050);
}

.main {
  flex-grow: 1;
}






.top-bar {
  height: 64px;
}

.top-bar .container {
  display: grid;
  width: 100%;
  height: 100%;
  place-items: center;
}

.card {
  padding: var(--space-4);
  border-radius: var(--radius-small);
  display: grid;
  gap: var(--space-2);
  margin-block-end: var(--space-4);
}

.card.elevated {
  background-color: #373C50;
  box-shadow: var(--shadow-1);
}

.card.outlined {
  border: 1px solid #4E5A73;
}



 .icon-btn {
  width: 40px;
  height: 40px;
  border-radius: var(--radius-full);
  display: grid;
  place-items: center;
}

.icon-btn.filled {
  background-color: #1A1F30;
  color: #797D8A;
  --state-layer-bg: var(--on-secondary-container);
}


 .text-field-wrapper {
  position: relative;
  padding: var(--space-05);
  isolation: isolate;
  box-shadow: inset 0 0 0 1px var(--outline);
  border-radius: var(--radius-extra-small);
  transition: var(--tr-duration-short-4) var(--tr-easing-standard);
 }

 .text-field-wrapper:focus-within {
  box-shadow:inset 0 0 0 2px #797D8A;
 }

 .text-field-label {
  position: absolute;
  top: var(--space-3);
  left: var(--space-2);
  background-color: #373C50;
  color: var(--on-surface-variant);
  padding-inline: var(--space-2);
  pointer-events: none;
  user-select: none;
  transform-origin: top left;
  transition:  var(--tr-duration-short-4) var(--tr-easing-standard);
 }

 .text-field-wrapper:focus-within .text-field-label,
 .text-field-wrapper:not(:has( .text-field:placeholder-shown)) .text-field-label {
    transform: translate(4px, -20px) scale(0.8);
    color: #797D8A;
 }

 .text-field {
  padding-inline: var(--space-4);
  padding-block: var(--space-3);
  color: var(--on-surface);
  --autofill-bg: #1A1F30;
  --autofill-color: var( 
  --on-surface);
  --placeholder-color: var(
  --on-surface-variant);
 }

 .text-field::placeholder {
  opacity: 0;
  transition: var(--tr-duration-short-4) var(--tr-easing-standard);
 }

 .text-field:where(:focus, :focus-visible)::placeholder { opacity: 1; }


.button {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: var(--space-6);
  border-radius: var(--radius-large);
  width: 100%;
}

.button.filled {
  background-color: #1A1F30;
  color: #797D8A;
  --state-layer-bg:var(--on-primary);
}

.button[disabled] {
  background-color: var(--on-surface-disabled-bg);
  color: var(--on-surface-disabled-text);
  --state-layer-bg: none;
  cursor: not-allowed;
}









.background {
  background-color: #1A1F30;
}

.on-surface-text {
  color: var(--on-surface);
}

.on-surface-variant-text {
  color: var(--on-surface-variant);
}

.primary-text {
  color: var(--primary);
}





.container {
  padding-inline: var(--space-2);
  max-width: 520px;
  margin-inline: auto;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.material-symbols-rounded {
  display: block;
  width: 1em;
  height: 1em;
  overflow: hidden;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.icon-small {
  font-size: 20px;
  font-variation-settings: 'FILL' 1;
}

:has(> .state-layer) {
  position: relative;
  overflow: hidden;
  isolation: isolate;
  user-select: none;
  --webkit-user-select: none;
}

.state-layer {
  position: absolute;
  inset: 0;
  background-color: var(--state-layer-bg);
  opacity: 0;
  transition: opacity var(--tr-duration-short-2) var(--tr-easing-linear);
  z-index: -2;
}

:has(> .state-layer):hover > .state-layer {opacity: 0.08;}

:has(> .state-layer):is(:focus, :focus-visible, :focus-within, :active) > .state-layer{
  opacity: 0.12;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: var(--space-1);
}




.hero {
  padding-block-end: var(--space-4);
  margin-block-end: var(--space-4);
  border-block-end: 1px solid #4E5A73;
}

.hero-banner {
  border-radius: var(--radius-small);
  height: 120px;
  overflow: hidden;
}

.hero-card .card-banner {
  position: relative;
  width: 96px;
  height: 96px;
  border-radius: var(--radius-full);
  margin-inline: auto;
  margin-block-start: -28px;
  overflow: hidden;
  border: 2px solid #4E5A73;
  margin-block-end: var(--space-2);
}

.hero-card .card-content {
  text-align: center;
  padding-inline: var(--space-2);
}

.hero-card .subtitle {
  opacity: 0.8;
  margin-block: var(--space-2) var(--space-1);
}

.hero-card .card-text {
  max-width: 50ch;
  margin-inline: auto;
}





.contribute-form {
  display: grid;
  gap: var(--space-2);
}

.counter-wrapper, .counter {
  display: flex;
  align-items: center;
}

.counter-wrapper{
  justify-content: space-between;
  padding-block-start: var(--space-4);
  border-block-start: 1px solid #4E5A73;
  margin-block-start: var(--space-2);
}

.counter-label {
  display: flex;
  align-items: center;
  gap: var(--space-1);
}

.counter {
  gap: var(--space-2);
}

.counter-field{
  padding: 0;
  height: 40px;
}

.counter-field .text-field {
  padding: var(--space-2);
  width: 64px;
  text-align: center;
}




.social-list {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}





.history-card {
  display: grid;
  padding-block: var(--space-2);
  gap: var(--space-2);
}

.history-card .card-header {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.history-card .card-title span {
  display: inline-block;
}

.history-card .card-avatar {
  height: 40px;
  width: 40px;
  display: grid;
  place-items: center;
  background-color:#AF91C9;
  color: var(--on-avatar);
  border-radius: var(--radius-full);
  flex-shrink: 0;
  text-transform: uppercase;
  user-select: none;
}

.history-card .card-body {
  position: relative;
  background-color: #4E5A73;
  border-radius: var(--radius-large);
  isolation: isolate;
  padding: var(--space-4);
}

.history-card .card-body::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #4E5A73;
  transform-origin: top-left;
  transform: translate(18px, -20px) rotate(-45deg);
  z-index: -1;
}



.footer {
  padding-block: var(--space-4);
  text-align: center;
  border-block-start: 1px solid #4E5A73;
}





@media (min-width: 992px) {
  .container{
    max-width: 840px;
  }
  .lg-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    gap: var(--space-4);
  }
  .hero-banner {
    height: 280px;
  }
  .contribute {
    order: 1;
    position: sticky;
    top: var(--space-4);
  }
}

@media (min-width: 1200px) {
  .title-large {
    font-size: var(--fs-headline-medium);
    line-height: var(--lh-headline-medium);
  }
  .title-medium {
    font-size: var(--fs-title-large);
    line-height: var(--lh-title-large);
    font-weight: var(--fw-regular);
    letter-spacing: normal;
  }
  .title-small {
    font-size: var(--fs-title-medium);
    line-height: var(--lh-title-medium);
    letter-spacing: var(--ls-p-015);
  }
  .body-medium {
    font-size: var(--fs-body-large);
    line-height: var(--lh-body-large);
    letter-spacing: var(--ls-p-015);
  }
  .container {
    max-width: 960px;
  }
  .lg-col-2 {
    gap: var(--space-6);
  }
  .card {
    margin-block-end: var(--space-6);
    gap: var(--space-3);
  }
  .icon-small {
    font-size: 24px;
  }
  .hero {

    padding-block-end: var(--space-6);
    margin-block-end: var(--space-6);
  }
  .hero-card .card-banner {
    width: 120px;
    height: 120px;
    margin-block-start: -60px;
  }
  .counter-wrapper {
    padding-block-start: var(--space-5);
  }
  .contribute-form {
    gap: var(--space-3);
  }
  .history-card, .history-card .card-header {
    gap: var(--space-3);
  }
}